<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title | Dylan Schwarz | Web Developer </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- all css here -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/meanmenu.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <script src="~/Content/js/vendor/modernizr-2.8.3.min.js"></script>

    @RenderSection("styles", required: false)

</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <!-- header start -->
    <header>
        <div class="header-top-area black-bg hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <ul class="top-right">
                            <li>
                                <i class="fa fa-envelope"></i>
                                <span>schwarz_dylan@yahoo.com</span>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                <span>816 808 6401</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 hidden-xs">
                        <div class="header-icon floatright">
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-menu-area-start -->
        <div class="main-menu-area">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-9 col-sm-10">
                        <div class="main-menu floatright">
                            <nav>
                                <ul>

                                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                    <li><a href="@Url.Action("Resume", "Home")">Resume&#771;</a></li>
                                    <li><a href="service.html">service</a></li>
                                    <li>
                                        <a href="portfolio.html">Portfolio<i class="fa fa-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="portfolio-column-2.html">portfolio column 2</a></li>
                                            <li><a href="portfolio-column-4.html">portfolio column 4</a></li>
                                            <li><a href="portfolio-full.html">portfolio fullwidth</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="team.html">team</a></li>
                                    
                                    <li><a href="@Url.Action("Contact", "Home")">contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="mobile-menu-area"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-menu-area-end -->
    </header>
    <!-- header end -->


    <main>
        @RenderBody()
    </main>




    <!-- footer start -->
    <footer>
        <div class="footer-area black-bg ptb-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <div class="footer-widget md-30">
                            <h2>Contact Me</h2>
                            <div class="footer-address">
                                <p>Please feel free to reach out with any questions or Job inquiries:</p>
                            </div>
                            <div class="address">
                                <ul class="list-unstyled contact">
                                    <li><p><strong><i class="fa fa-map-marker"></i> </strong> Kansas City Metro Area, Missouri</p></li>
                                    <li><p><strong><i class="fa fa-envelope"></i></strong> <a href="#">schwarz_dylan@yahoo.com</a></p></li>
                                    <li> <p><strong><i class="fa fa-phone"></i></strong> 816 808 6401</p></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">
                <div class="social-icons text-center">
                    <label>Find Me On:</label>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
                <div class="copyright text-center">
                    <p>Smoth template - All rights reserved - &copy;Copyright @DateTime.Now.Year Made by ThemePure</p>
                    <p>Template Conversion by -</p>
                    <a href="#">Dylan Schwarz</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->

    @RenderSection("scripts", required: false)

    <!-- all js here -->
    <script src="~/Content/js/vendor/jquery-1.12.0.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.meanmenu.js"></script>
    <script src="~/Content/js/jquery.mixitup.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/jquery.counterup.min.js"></script>
    <script src="~/Content/js/waypoints.min.js"></script>
    <script src="~/Content/js/plugins.js"></script>
    <script src="~/Content/js/main.js"></script>
</body>
</html>
